<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <script src="{{ url_for('static', filename='javascripts/jquery-3.6.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='javascripts/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='javascripts/piscanner.js') }}"></script>
        <title>Stepper Motor Controller</title>
    </head>
    <body>
        <div class="text-center">
            <h1>PiScanner</h1>
            <p>Photogrammetry</p> 
        </div>
        <form class="form-horizontal">
          <div class="container">

            <div class="row">
                <h3>Motor 1 (model) control</h3>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label for="motor1">Direction</label>
                </div>
                <div class="col-md-2">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="motor1dir" value="cw">Clockwise
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="motor1dir" value="ccw">Counter Clockwise
                    </label>
                </div>
                <div class="col-md2">
                    <label for="usr">Step:</label>
                </div>
                <div class="col-md2">
                    <input type="text" class="form-control" id="motor1step">
                </div>
                <div class="col-md2">
                    <button type="button" class="btn btn-primary" onclick="motor(1)">Send</button>
                </div>
            </div>

            <div class="row">
                <h3>Motor 2 (long arm) control</h3>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label for="motor1">Direction</label>
                </div>
                <div class="col-md-2">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="motor2dir" value="cw">Clockwise
                    </label>
                </div>
                <div class="col-md-2">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="motor2dir" value="ccw">Counter Clockwise
                    </label>
                </div>
                <div class="col-md2">
                    <label for="usr">Step:</label>
                </div>
                <div class="col-md2">
                    <input type="text" class="form-control" id="motor2step">
                </div>
                <div class="col-md2">
                    <button type="button" class="btn btn-primary" onclick="motor(2)">Send</button>
                </div>
            </div>

            <div class="row">              
                <h3>Camera control</h3>
            </div>

            <div class="row">
                <div class="input-group">
                    <div class="form-check-inline">
                        <button type="button" class="btn btn-primary" onclick="takephoto()">Capture</button>
                    </div>
                    <div id="photo-container">
                        <img src="static/images/cam/output.jpg" class="img-fluid">
                    </div>
                </div>       
            </div>

          </div>
        </form>
    </body>
</html>